<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="w3-text-black"></ion-back-button>
    </ion-buttons>
    <ion-title>SETTINGS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>FirstName</ion-label>
        <ion-input>first</ion-input>
      </ion-col>
      <ion-col>
        <ion-label>LastName</ion-label>
        <ion-input>last</ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>gender</ion-label>
        <ion-input>m/f</ion-input>
      </ion-col>
      <ion-col>
        <ion-label>Couse of Study</ion-label>
        <ion-input>course</ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>School</ion-label>
        <ion-input>school</ion-input>
      </ion-col>
      <ion-col>
        <ion-label>Email</ion-label>
        <ion-input>email</ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Password</ion-label>
        <ion-input>pass</ion-input>
      </ion-col>
      <ion-col>
        <ion-label>Re-type</ion-label>
        <ion-input>pass</ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

