<ion-header>
  <ion-toolbar color="primary">
    <ion-title class='w3-center'>EDUPRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="w3-container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src='assets/img/capbook.jpg' style="height: 300px; width: 250px;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-button routerLink="/login" class="w3-center" expand='block' style="height: 50px;" size='large'>LOGIN</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/register" class="w3-center" expand='block'>REGISTER</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    <div class='w3-bottom'>Designed By TEEJEH TECH</div>
</ion-content>